.forms {
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    border: 2px solid #000;
    border-radius: 8px;
    font-size: 20px;
    background-color: #fff;
    margin: 20px;
}

.header {
    width: 100%;
    margin: 0;
    border-bottom: 2px solid black;
    text-align: center;
    background-color: lightslategray;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.form-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 7px 0 14px 0;
}

input {
    height: 25px;
    padding-left: 5px;
    border: 2px solid #000;
    font-size: 16px;
    width: 80%;
}

.button {
    height: 30px;
    border: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: lightslategray;
    cursor: pointer;
    transition: all 0.3s;
}

.button:hover {
    background-color: lightgray;
    color: lightslategray;
}

.line {
    display: block;
    width: 100%;
    height: 2px;
    background: black;
    border-radius: 8px;
}

.list-wrapper {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    border: 2px solid #000;
    border-radius: 8px;
    font-size: 20px;
    margin: 20px;
}

.transport-list-header {
    border: none;
}

.costs-list-header {
    border: none;
}

.list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid black;
    padding: 7px 0 14px 0;
    background: lightgrey;
}

.list-item:nth-last-child(1) {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.item-text span {
    color: maroon;
}
